@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  
}
:root{
  --primary: #00A97F;
  --light:rgba(133,198,218,255);
  --dark:rgba(13,13,10,255);
  --darker:rgba(234,157,90,255);
  --lighter:#cbd6cf;
  --lighter1:#c3dacc86;
  --lighter2:#e4f0e9da;
  --darken: #cca27e;
  --color: orangered;
  --search: #FF6000;
  --primary1: #2b3d4c;
  --primary2: #354d61;
}

.span{
  border-radius: 20px;
  margin-bottom: 10px;
}
.logo {
  height: 5em;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
h1{
  font-weight:600 ;
  color: var(--search);
  margin: 10px;
  font-size: 40px;
}
h2{
  font-weight: 400;
  color: var(--primary);
  font-size: 32px;
}

a{
  text-decoration:none ;
  font-size: 14px;

}
p{
  font-size: 14px;

}
.header-top-strip a{
  color: var(--primary);

}
button{
  padding: 12px 10px;
  font-size: 14px;
  background-color: var(--primary1);
  color: white;
}
.button-link{
  padding: 12px 10px;
  font-size: 18px;
  color: white;
  border-radius:10px ;
  background: var(--primary);
  border:1px solid transparent;
  width: 8%;
  margin-left: 1%;
  transition :0.5s ease;
}

.button-link:hover{
  background: transparent;
  color: var(--primary);
  border: 1px solid ;
}

/* header start */
.input-group button{
 background: transparent;
 font-size: 14px;
}
.header-upper{
  background-color: var(--lighter2);
  margin-top: 0 !important;
}
.nav-link-nav ,.social-icons a{
  color: var(--search);
}

.social-icons a{
  color: var(--search);
}

.active{
  font-weight: 600;
  color: var(--primary);
  text-decoration: none;
}
.aactive{
  font-weight: 450;
  color:#697D8A;
  text-decoration: none;
  border-bottom: 2px solid black;
}
.iinactive{
  color:#697D8A;
  font-weight: 500;
  
}
.car{
  color:#697D8A;
}

.inactive{
  color: var(--primary2);
  font-weight: 400;
}

/* end of header */


/* Fotter start */

footer{
  color: val(--lighter2);
  
}

.pay img{
  transition: 0.5s ease;

}
.pay img:hover{
  transform: translateY(-10px);
}
.footer-details a{
  color:var(--primary1)
}
.sky:hover{
  color: var(--primary);
}



/* Fotter end */



/* Home start */
.banner-details{
  background:url(./assets/images/back.jpg);
  background-position: center;
  background-size:cover ;
  width: 100%;
  height: 50vh;
}

.hero-details img{
  width: 60px;
  height: 55px;

}
.hero-details .card{
  border-radius:10px ;
}



.featured-products .card img{
  border-radius:20px ;

}
.featured-products .card {
  border-radius:20px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}
.strike{
  padding-top: 0 !important;
}
.radi .card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-8px);
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;

}
.rad .card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-8px);
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;

}

.card-details:hover{
  transform: translate(1px);
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
  max-width: 250px;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
}
.banner-details h1:hover{
  color: orangered;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
 
  max-width: 400px;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;

}
.banner-details h2:hover{
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
 
  max-width: 400px;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;

}
.banner-details button:hover{
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
  border-radius:20px ;
}

.repair{
 background: url(./assets/images/banner/b2.jpg);
 background-position: center;
 background-size:cover ;
 width: 100%;
 height: 40vh;
}

.button-repair{
  padding: 12px 10px;
  font-size: 14px;
  background-color:white;
  color: darkblue;
  border-radius: 10px;
}
.button-repair:hover{
  background-color: transparent;
  color: white;
  border-radius: 10px;
}

.new-products .card img{
  border-radius:20px ;
  max-height: 200px;
  max-width: 180px;

}
.new-products .card {
  border-radius:20px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  
}
.new-products .card span{
  color: var(--darken);
}
 .radi .card img:hover{
  transform: scale(1.5);
}
.button-deal{
  padding: 12px 10px;
  font-size: 14px;
  background-color: var(--darken);
  color: white;
  border-radius: 10px;
  border: none;
}
.button-deal:hover{
  background-color: transparent;
  color: white;
  background-color: #FF6000;
  border: none;
}

.cardl:hover{
  transform: translateX(5px);
  transition: 0.5s ease;
  cursor: pointer;
 

}
.button-blog{
  padding: 12px 10px;
  font-size: 14px;
  background-color: var(--darken);
  color: white;
  border-radius: 10px;
  border: none;
}

.button-blog:hover{
  background-color: transparent;
  color: white;
  background-color: #FF6000;
  border: none;
}
.header-upper{
  background-color: #E8F2EC;
}


/* Home End */



/* Media query */
@media (max-width: 700px) {
  *{
    padding: 0px;
    margin: 0px;
  }
  .header-upper {
      position: relative;
  }
  .header-top-strip p ,.header-top-strip a
  {
    font-size: 12px;
    padding: 0px;
  }
  .top-img Link{
    font-size: 9px;
    padding: 0px;
    
  }
/* Nav part */


  .searchbar{
    width: 100% !important;
    display: flex;
  }
  .header-upper{
    position: sticky;
    
  }
  .logo{
    display: flex !important;
    justify-content: center !important;
    margin-top: 10px;
  }
  .cart-icon{
    margin-left: 0px !important;
  }
  .link{
    padding: 7px !important;
  }
  
  .cart-icon p{
    display: none;
  }
  .side{
    display: flex;
    flex-direction: end;
  }
  .button-link{
    width: 80px;
    margin-left: 20px;
  }
  .card-details img{
    width: 50px;
    height: 45px;

  }
 

  
/* end nav */
/* home */
.rad{
  display: flex;
  width: 400px;
  align-items: center;
  margin-top: 20px;
}
.radi{
  display: flex;
  width: 400px;
  align-items: center;
  margin-top: 20px;
}
.deals .row .card{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.cardbod{
  display: none;
  
}
.customers{
  display: none;
}
.customer{
  
  width: 20rem;
  align-items: center;
  margin-top: 20px;
}


/* home end */
/* footer */

.contact{
  width: 100% !important;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}
.footer-details{
  width: 100%!important;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}
.car{
  padding-bottom: 10px;
}

.nod{
  display: none;
}
.abc{
  display: flex;
  font-size: 10px !important;
}
.lp{
  
  display: inline !important;
  font-size: 10px!important;
}
}





  

  /* media qury end */